<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<section class="row mb-4 card">
  <section class="col-md-5">
    <a href="/post/{{post.id}}" class="text-decoration-none">
      <h2 class="fw-bold">
        {{post.title}}
      </h2>
    </a>
    <p>Posted by {{post.user.name}} on {{format_date post.createdAt}}</p>
  </section>
  <section>
    <p>
      {{post.body}}
    </p>
  </section>
</section>
{{/each}}
