<section>
  <section class="row m-4 p-4">
    <h2>{{title}}</h2>
    
    <h4>{{post.body}}</h4>

    <p>Created by {{post.user.name}} on {{format_date post.createdAt}}</p>
  </section>


  <!-- Loop over each object in the comments array -->
{{#each postComments as |comment| }}
<section class="row m-4 card p-3">
  {{comment.body}}
  <br/>
  by {{comment.user.name}} on {{format_date comment.createdAt}}
</section>
{{/each}}

  
</section>
